<div class="scroll-container scroll-y" #scrollContainer>
    <div class="scroll-content grid square-grid">
      <div class="scroll-section padded">
        <div class="large centered row">
          <div class="label">scroll down</div>
        </div>
      </div>
      <div class="scroll-section padded">
        <div class="large row">
          <div class="square-container">
            <!-- Three.js será renderizado aquí -->
          </div>
        </div>
      </div>
      <div class="scroll-section">
      </div>
    </div>
  </div>